.title-input {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 300px;
}

.new-post-btn {
    width: 300px;
    height: 30px;
    box-sizing: border-box;
}

.blog {
    display: flex;
    gap: 50px;
    width: 100%;
    height: 100%;
}

.column {
    width: 50%;
}